.header-box {
  width: 7rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.header-box h1 {
  font-weight: 600;
  z-index: 30;
  font-size: 1.5rem;
}

.header-box h6 {
  color: gray;
  font-size: 0.9rem;
  font-weight: 400;
}

.article-box {
  height: 14rem;
  margin: 0 auto;
  width: 90%;
  position: relative;
  z-index: -21;
  bottom: 3.5rem;
  background-color: var(--GFmintLight);
}
