.mucho-header-box {
  display: grid;
  grid-template-columns: 5rem 1fr 4rem;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
}

.dark-mode,
.light-mode {
  cursor: pointer;
  background-size: 25px;
  background-position: 28px 15px;
  background-repeat: no-repeat;
  transition: 1s;
}

.dark-mode {
  filter: invert(1);
}

.dark-mode {
  background-image: url(../../Styles/assets/night.svg);
}

.light-mode {
  background-image: url(../../Styles/assets/sun.svg);
}
