.loading-wrapper {
  text-transform: lowercase;
  margin: 15rem auto;
  font-size: 2rem;
  line-height: 23px;
  text-align: center;
  height: 5rem;
  overflow: hidden;
  position: fixed;
  font-weight: 500;
  left: 0;
  right: 0;
}
/* 
.squared {
  height: 75px;
  width: 75px;
  position: relative;
  top: 18rem;
  margin: 0 auto;
  left: 30px;
  bottom: 25px;
  border: 10px solid var(--GFmint);
} */
