.biggest-news-box {
  display: flex;
  flex-direction: column;
}

.news-box {
  color: var(--NotBlack);
  margin-top: 0rem;
  padding: 1rem;
}

.news-box h1 {
  width: 20rem;
}

.cat-box {
  border-radius: 4px;
  box-shadow: 5px 5px 20px lightgray;
  margin: 2rem auto;
  padding: 1rem;
  transition: 0.5s;
  width: 23rem;
}

.cat-box:hover {
  box-shadow: 5px 5px 20px gray;
  cursor: pointer;
}

.cat-box img {
  filter: brightness(110%);
  max-height: 20rem;
  width: 100%;
}

.article-desc {
  padding: 1rem;
}

.cat-box a {
  color: darkgray;
  text-decoration: none;
  transition: 0.2s;
}

.cat-box a:hover {
  color: black;
}
