.news-box {
  margin-top: 0rem;
  padding: 1rem;
  color: var(--NotBlack);
}

.news-box h1 {
  width: 20rem;
}

.cat-box {
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 5px 5px 20px lightgray;
  width: 90%;
  margin: 2rem auto;
  transition: 0.5s;
}

.cat-box:hover {
  box-shadow: 5px 5px 20px gray;
  cursor: pointer;
}

.cat-box img {
  width: 100%;
  filter: brightness(110%);
}

.article-desc {
  padding: 1rem;
}

.cat-box a {
  color: darkgray;
  text-decoration: none;
  transition: 0.2s;
}

.cat-box a:hover {
  color: black;
}
